<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Video auto-annotation</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static 'flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'flat-ui/dist/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static 'flat-ui/docs/assets/css/demo.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">
    <script type="text/javascript" charset="utf-8" src="{% static 'flat-ui/dist/js/vendor/jquery.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'flat-ui/dist/js/vendor/video.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'flat-ui/dist/js/flat-ui.min.js' %}"></script>
    <script src="{% static 'flat-ui/docs/assets/js/application.js' %}"></script>
    <script>
     videojs.options.flash.swf = "{% static 'flat-ui/dist/js/vendors/video-js.swf' %}"
   </script>


      <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static 'flat-ui/dist/js/vendor/html5shiv.js' %}"></script>
      <script src="{% static 'flat-ui/dist/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/rango/">My Thesis</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  </ul>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-3 sidebar">
                    {% block side_block %}
                    <p>Detect your people</p>

                    <form action="/thesis/upload/"  method="post">
                      {% csrf_token %}
                      {% for hidden in form.hidden_fields %}
                      <div class="form-group">
                      {{ hidden }}
                      </div>
                      {% endfor %}

                      {% for field in form.visible_fields %}
                      <div class="form-group">
                      {{ field }}
                    </div>
                      {% endfor %}
                      <input class="fui-upload btn btn-block btn-lg btn-primary" type="submit" value="Upload video" />
                      <a class="fui-video btn btn-block btn-lg btn-primary"></a>
                      <a class="fui-eye btn btn-block btn-lg btn-primary"></a>
                    </form>
                    <p>Do you want to specify more parameters?<p>
                      <a href="/thesis/upload/" class="fui-plus btn btn-block btn-lg btn-primary"></a><br />
                    {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-9col-md-offset-3 main">
               <div>
                    {% block body_block %}
                    <!-- <video width="640" height="480" autoplay controls >
                      <source src="{% static  media %}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video> -->

                    <div id="vjs_video_3" data-setup="{}" poster="{% static 'images/lena.png' %}" preload="auto"
                    class="video-js vjs-paused vjs-controls-disabled vjs-user-inactive" style="width: 950px; height: 550px;">
                      <video width="950" height="550" class="vjs-tech" preload="auto" poster="{% static 'images/lena.png' %}" data-setup='{ "playbackRates": [0.5, 1, 1.5, 2] }' id="vjs_video_3_html5_api">
                        <source src="{% static  'images/output.mp4' %}" type="video/mp4">
                        </video>
                    </div>

                    {% endblock %}
              </div>
            </div>
          </div>
        </div>
  </body>

</html>
