<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Video auto-annotation</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static 'flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'flat-ui/dist/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static 'flat-ui/docs/assets/css/demo.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'flat-ui/dist/css/file-input.css' %}" rel="stylesheet"> -->

    <link rel="shortcut icon" href="img/favicon.ico">
    <script type="text/javascript" charset="utf-8" src="{% static 'flat-ui/dist/js/vendor/jquery.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'flat-ui/dist/js/vendor/video.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'flat-ui/dist/js/flat-ui.min.js' %}"></script>
    <script src="{% static 'flat-ui/docs/assets/js/application.js' %}"></script>
    <script>
     videojs.options.flash.swf = "{% static 'flat-ui/dist/js/vendors/video-js.swf' %}"
   </script>
   <script>
      function listInfo(type) {
        if(type == 'id_Scale') {
          document.getElementById('body').innerHTML = '<div id="info"><h1><h1>The Scale attribute</h1>' +
            '<p>The scale attribute refers to the scale factor the the scanning window'
            + 'will increase/decrease</p><img id="theImg" src="/static/images/big_scale.png" />'+
            '<button class="btn btn-embossed btn-primary" onclick="removeImg();">Close</button></div>';
        }
        if(type == 'id_Neighbors') {
          document.getElementById('body').innerHTML = '<div id="info"><h1><h1>The Neighbors attribute</h1>' +
            '<p>The scale attribute refers to the scale factor the the scanning window'
            + 'will increase/decrease</p><img id="theImg" src="/static/images/min_neighbors.png" />'+
            '<button class="btn btn-embossed btn-primary" onclick="removeImg();">Close</button></div>';
        }
        if(type.indexOf("Min") !== -1) {
          document.getElementById('body').innerHTML = '<div id="info"><h1>The Minimum X, Y dimension attributes</h1>' +
            '<p>The scale attribute refers to the scale factor the the scanning window'
            + 'will increase/decrease</p><img id="theImg" src="/static/images/min_x_y.png" /><img id="theImg" src="/static/images/min_x_y_2.png" />' +
            '<button class="btn btn-embossed btn-primary" onclick="removeImg();">Close</button></div>';
        }
      }

      function removeImg() {
        document.getElementById('info').remove();
        document.getElementById('body').innerHTML = this.body.innerHTML;
      }
   </script>


      <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static 'flat-ui/dist/js/vendor/html5shiv.js' %}"></script>
      <script src="{% static 'flat-ui/dist/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/thesis/">My Thesis</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                    <li><a href="/thesis/">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">View Annotated Videos</a></li>
                  </ul>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-3 sidebar">
                    {% block side_block %}
                    <div class="form-group">
                      <p>Detect your people</p>
                      <form id="second-form" action="/thesis/process/" enctype="multipart/form-data" method="post" >
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                        {% if not field.name == "iszip" and not field.name == "video" %}

                        <label for="inputTiltle">{{ field.name }}</label>
                        <div class="input-group">
                          {{ field }}
                          <span class="input-group-addon"
                                onmouseover='var v = this.parentNode.childNodes[1].id;  listInfo(v);' >
                                <!--onmouseout="removeImg();">-->
                                ?
                          </span>
                        </div>
                        {% endif %}
                        {% if field.name == "video" %}
                        <div class="form-group">
                          <label for="exampleInputFile">Please specify the video you want to upload</label>
                          <!-- <input type="file" id="exampleInputFile"> -->
                          {{ field }}
                          <p class="help-block">video can be in either uncompressed or zip format</p>
                        </div>

                        {% endif %}
                        {% endfor %}

                        <p>Is the file in zip format?</p>
                        {% for radio in form.iszip %}
                          <label for="{{ radio.id_for_label }}" class="radio">
                              {{ radio.choice_label }}
                              {{ radio.tag }}
                          </label>
                        {% endfor %}

                        <a class="fui-video btn btn-block btn-lg btn-primary" onclick="myFunction('No')"></a>
                        <a class="fui-eye btn btn-block btn-lg btn-primary" onclick="myFunction('')"></a>

                        <script>
                            function myFunction(val) {
                              if(val != '')
                                document.getElementById("id_recognizer").value = val;
                              document.getElementById("second-form").submit();
                            }
                        </script>
                      </form>
                    </div>
                    {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
               <div id="body">
                    {% block body_block %}
                        
                    {% endblock %}
              </div>
            </div>
          </div>
        </div>
  </body>
   <script>
      var body = document.getElementById('viola');
   </script>

</html>
